<div class="postList">
  <% if(typeof currentUser !== 'undefined') {%>
  <a href="/create-post" class="button">Create post</a>
  <%}%> <%if(posts.length) {%> <%for (const post of posts){%>
  <div class="postContainer">
    <div class="info">
      <div class="title"><%=post.title%></div>
      <div class="text"><%=post.text%></div>
    </div>

    <div class="additionals">
      <%if(typeof currentUser !== 'undefined' && (currentUser.isMember ||
      currentUser.isAdmin) ) {%>
      <div class="userName">By: <%= post.user.fullName%></div>
      <div class="date"><%=post.formattedDate%></div>

      <%}%>
    </div>
    <%if(typeof currentUser !== 'undefined' && currentUser.isAdmin ) {%>
    <form action="" method="post" class="deleteButtonForm">
      <input type="hidden" value="<%= post._id%>" name="postID" />
      <button class="deleteButton">×</button>
    </form>
    <%}%>
  </div>
  <%}%> <%} else {%>
  <h1>No posts yet</h1>
  <%}%>
</div>
