<div class="formContainer">
  <form action="" method="POST">
    <div class="inputContainer">
      <label for="name">Name*</label>
      <input
        id="name"
        type="text"
        name="name"
        required
        value="<%= user ? user.name : ''%>"
      />
    </div>
    <div class="inputContainer">
      <label for="lastName">Last name*</label>
      <input
        id="lastName"
        type="text"
        name="lastName"
        required
        value="<%= user ? user.lastName : ''%>"
      />
    </div>
    <div class="inputContainer">
      <label for="email">Email*</label>
      <input
        id="email"
        type="email"
        name="email"
        required
        value="<%= user ? user.email : ''%>"
      />
      <div class="inputErrors">
        <%if(errors) {%> <%= errors.find((err) => err.path === 'email')?.msg %>
        <%}%>
      </div>
    </div>
    <div class="inputContainer">
      <label for="password">Password*</label>
      <input
        id="password"
        type="password"
        name="password"
        required
        value="<%= user ? user.password : ''%>"
      />
      <div class="inputErrors">
        <%if(errors) {%> <%= errors.find((err) => err.path === 'password')?.msg
        %> <%}%>
      </div>
    </div>
    <div class="inputContainer">
      <label for="passwordCheck">Confirm password*</label>
      <input id="passwordCheck" type="password" required name="passwordCheck" />
    </div>
    <button class="button">Register</button>
  </form>
</div>
